@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');


.contact-container {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 4rem;
  
}

h2 {
  margin-top: 1rem;
  width: 30% auto;
  font-size: 2rem;
  color: black;
  font-family: 'Bungee Inline', cursive;
  text-shadow: -3px -3px 4px rgb(0, 217, 255), 3px 4px 4px rgb(4, 248, 236);
  background-color: rgba(9, 0, 133, 0.24);
}

.name {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 70%;
  border-radius: 5px;
  margin: 0.2rem;
  color: black;
  font-weight: bolder;
}

.email {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  margin: 0.2rem;
  width: 70%;
  color: black;
  font-weight: bolder;
}

.medd {
  padding-top: 0.5rem;
  padding-bottom: 15vw;
  border-radius: 5px;
  margin: 0.2rem;
  width: 70%;
  color: black;
  font-weight: bolder;
}

button {
  padding: 3px;
  border-radius: 5px;
  /* background-image: url("/public/images/galaxy.jpg"); */
  border: 2px solid black;
  font-weight: bold;
  margin: 0.5rem;
  text-shadow: 2px 2px 3px black;
  color: rgb(143, 248, 238);
  width: 20vw;
  border: 2px solid turquoise;
  max-width: 150px;
  background-color: rgba(130, 204, 233, 0.308);
  font-size: large;
}

button:hover {
  transition: all 0.1s ease-in;
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  width: 50%;
  border: 2px solid yellow;
}

.form-container {
  border: 3px solid rgb(206, 255, 250);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(15px);
  width: 50%;
  max-width: 60000px;
  margin: 0 auto;
  box-shadow: 10px 14px 18px 0 rgba(0, 0, 0, 0.2),
    -10px 16px 20px 0 rgba(0, 0, 0, 1);
}

.contact-border {
  border-top: 2px solid yellow;
  margin-bottom: 40px;
}

.name {
  border: 2px solid black;
}
.email {
  border: 2px solid black;
}
.medd {
  border: 2px solid black;
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 140%;
  }
}
