.contact-container {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 4rem;
}

h2 {
  margin-top: 1rem;
  text-shadow: 2px 2px 3px black;
  width: 30% auto;
  font-size: 2rem;
  color: rgb(145, 255, 145);
}

.name {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 70%;
  border-radius: 5px;
  margin: 0.2rem;
  color: black;
  font-weight: bolder;
}

.email {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  margin: 0.2rem;
  width: 70%;
  color: black;
  font-weight: bolder;
}

.medd {
  padding-top: 0.5rem;
  padding-bottom: 15vw;
  border-radius: 5px;
  margin: 0.2rem;
  width: 70%;
  color: black;
  font-weight: bolder;
}

button {
  padding: 1rem;
  border-radius: 10px;
  background-image: url("/public/images/galaxy.jpg");
  border: 2px solid black;
  font-weight: bold;
  margin: 0.5rem;
  text-shadow: 2px 2px 3px black;
  color: rgb(143, 248, 238);
  width: 20vw;
  border: 2px solid turquoise;
}

button:hover {
  transition: all 0.1s ease-in;
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  width: 50%;
  border: 1px solid orange;
}

.form-container {
  border: 3px solid orange;
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(15px);
  width: 50%;
  max-width: 60000px;
  margin: 0 auto;
  box-shadow: 10px 14px 18px 0 rgba(0, 0, 0, 0.2),
    -10px 16px 20px 0 rgba(0, 0, 0, 1);
}

.contact-border {
  border-top: 2px solid hotpink;
  margin: 20px auto;
}

.name {
  border: 2px solid black;
}
.email {
  border: 2px solid black;
}
.medd {
  border: 2px solid black;
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 140%;
  }
}
