.Portfolio-all .portfolio-container .port-images {
  display:flex;
  flex-direction: column;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-top: 4rem;
  }

