@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

h4 center img {
  margin-top: -5px;
}

.About-container center img{
  max-width: 100%;
  border-radius: 5px;

}

.About-container {
  margin-top: -40px;
  display: flex;
  position:relative;
}

.About-container h4 {
  margin: 67px;
  /* border: 1px solid black; */
  border-radius: 5px;
  max-width: 600px;
  padding: 2rem;
  backdrop-filter: blur(25px);
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  font-weight: lighter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  color: rgb(181, 240, 234);
  font-family: "Montserrat", sans-serif;
  /* border: 3px solid yellow; */
  width: 70%
}

.About-container h4:hover {
  transition: all 0.2s ease-in;
  box-shadow: 10px 14px 18px 0 rgba(0, 0, 0, 0.2),
    -10px 16px 20px 0 rgba(0, 0, 0, 1);
    padding: 20px;
    background-color: rgba(48, 2, 255, 0.61);
    color: rgb(206, 247, 243);

}

@media screen and (max-width: 900px) {
  .About-container h4 center img{
    max-width: 100%
  }
 
}