

/* Ger bakgrundsbild till Navbar */
.App {
  text-align: center;
  background: url("../public/images//galaxy.jpg") center center/cover no-repeat;
  width: 100vw;
  /* height: 200vh; */
  /* background-size: cover;
  background-position: center;  */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
