

/* Ger bakgrundsbild till Navbar */
.App {
  background: url("../public/images/backBox.jpg");
  background-repeat: repeat-y;  width: 100vw;
  /* height: 200vh; */
  /* background-size: cover;
  background-position: center;  */
  /* display: flex; */
  /* align-items: center; */
  min-height: 500vh;
}
