

img {
    margin-top: 1rem;
    border-radius: 5px;
    padding: 20px;
    max-height: 90em;
    transition: all 0.3s ease-in-out;
}

img:hover {
    transition: all 0.1s ease-in;
    box-shadow: 5px 4px 20px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
    padding: 15px;

}