@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.main-content {
  display: flex;
  flex-direction: column;
 

}


/* MAIN CONTAINER */
.Main-container  {
  margin: 6rem;
  border-radius: 5px;
  /* max-width: 600px; */
  padding: 2rem;
  backdrop-filter: blur(10px);
  text-align: left;
  line-height: 1.6;
  font-weight: lighter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  max-width: 100%;

}
.Main-container:hover {
  /* background-color: rgba(54, 71, 224, 0.288); */
  /* background-color: rgba(102, 223, 211, 0.473); */
  backdrop-filter: blur(30px);
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 1);
  

}

.main-content .Main-container h2 {
  padding-right: 5rem;
}

.Main-container img {
  width: 60%;
  padding-left: 0.1rem;
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
  max-width: 450px;
}

.About1 {
  width: 100%;
}


.About2 {
  margin-right: 1rem;
  margin-left: 1.2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(7, 199, 4, 0.857);
  padding: 2rem;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid black;
  width: 20vw;
}
.About2 h1 {
  color: rgb(8, 40, 247);
  font-size: 1.1rem;
  font-weight: bold;

}

.About4 {
  margin-right: 1rem;
  color: rgb(0, 0, 0);
  background-color: rgba(236, 83, 83, 0.714);
  padding: 25px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid black;
  width: 20vw;

}
.About4 h1 {
  font-size: 1.1rem;
  color: rgb(235, 247, 8);

}

.About3 {
  margin-right: 1rem;
  color: rgb(0, 0, 0);
  padding: 2rem;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: yellow;
  border: 1px solid black;
  width: 20vw;
}

.About3 h1 {
color: red;
font-weight: bold;
}


.About-title {
  background-color: rgba(255, 255, 0, 0.53);
  padding: 10px;
}

.Portfolio-title {
  background-color: rgba(255, 255, 0, 0.53);
  padding: 10px;
}

.About-title h2{
text-align: left;
margin-left: 19rem;
}

.Portfolio-title h2 {
  text-align: right;
margin-right: 27rem;
}


@media screen and (max-width: 1150px) {

 .main .main-content .Main-container {
   display: block;
 }
 .About2 .About3 .About4{
  width: 18rem;
 }
}

