@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  color: turquoise;
  font-size: 1rem;
}

 path {
  color: rgb(17, 0, 255);

}

.NavLogo {
  color:turquoise;
}

.navbar {
  /* z-index: 5; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  /* border-bottom: 2.5px solid rgb(253, 194, 84); */
}

.navbar a {
  /* text-shadow: -1px -1px 1px black; */
  font-size: 1.3rem;
  text-decoration: none;
  padding: 10px;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 3px;
  font-weight: bold;
  margin: 5px;
  backdrop-filter: blur(16px);
  border: 1px solid black;
  box-shadow: -4px 4px 3px 0 rgb(0, 4, 255), 0 6px 3px 0 rgb(0, 4, 255);
  font-weight: bolder;
}

.nav-link-left,
.nav-link-right {
  display: flex;
  justify-content: space-around;
  /* transition: all 0.2s ease-in-out; */
}

.navbar .nav-link-left .link-left-karin {
  font-size: 2rem;
  margin-left: 2rem;
  font-family: 'Permanent Marker', cursive;  
  color: black;
  text-shadow: -1px -2px 3px rgb(136, 236, 240), -2px 2px 4px yellow;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.navbar .nav-link-left .link-left-karin:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  padding-left: 1rem;
  padding-right: 1rem;
}


.navbar .nav-link-left .link-left {
  font-size: 1.3rem;
  /* display: block; */
  color: rgb(87, 255, 238);
  text-decoration: none;
  /* padding: 10px; */
  transition: all 0.2s ease-in-out;
  /* margin: 5px; */
  margin-left: 2rem;
  font-weight: bold;
  backdrop-filter: blur(6px);
margin-top: 1.8rem;
}

.nav-link-right {
  position: absolute;
  right: 6%;
}

.nav-link-right .link-right {
  font-size: 1.4rem;
  /* text-shadow: -1px -3px 4px rgb(136, 236, 240), -2px 3px 4px yellow; */
  color: black;
  text-decoration: none;
  padding: 10px;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 3px;
  /* font-weight: bold; */
  margin: 5px;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 43, 0.733);
}

.nav-link-right .link-right:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 4, 255, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 1);
  transition: all 0.1s ease-in;
}

.navbar .nav-link-left .link-left:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
  border-radius: 3px;
  font-weight: bold;
  padding-bottom: 5p;
  
}
.toggle-menu {
  display: none;
}

.sub-nav-right {
  align-items: center;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 340px;
  justify-content: space-around;
  position: absolute;
  right: 0;
  top: -100%;
  transition: all 2ms ease-in;
  width: 110px;
  height: 450px;
  z-index: 4;
}

.sub-nav-right a {
  /* top: 5rem;
  margin-top: 50px;
  margin-right: 15px;
  font-size: 1rem;*/
   padding: 1rem; 
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2),
    -10px 16px 20px 0 rgba(0, 0, 0, 1);
  backdrop-filter: blur(3px);
  color:black;
}

.sub-nav-right .link-right {
  text-decoration: none;
}


@media screen and (max-width: 1220px) {
  .nav-link-right {
    display: none;
  }
  .toggle-menu {
    display: block;
    position: absolute;
    right: 7%;
    font-size: 4rem;
    /* border: 2px solid turquoise; */
    border-radius: 3px;
    padding: 5px;
  }

  .toggle-menu:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
    transition: all 0.1s ease-in;
    border-radius: 5px;
  }

  .sub-nav-right.active {
    top: 6rem;
    margin-top: 50px;
    margin-right: 15px;
    font-size: 1rem;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 10px 14px 18px 0 rgba(0, 0, 0, 0.2),
      -10px 16px 20px 0 rgba(0, 0, 0, 1);
    border: 2px solid yellow;
    backdrop-filter: blur(3px);

  }

  .sub-nav-right.active a {
    color:black;    
    text-decoration: none;
    /* padding: 15px; */
    margin: 0.4rem;
    font-size: 1rem;
    box-shadow: -4px 4px 3px 0 rgb(0, 4, 255), 0 6px 3px 0 rgb(0, 4, 255);
    border: 1px solid black;
    background-color: rgba(255, 255, 43, 0.733);
  }

  .sub-nav-right.active a:hover {
    top: 60px;
    transition: all 0.1s ease-in;
    box-shadow: 0px 0px 0px 0 rgb(0, 4, 255), 0 0px 0px 0 rgb(0, 4, 255);

  }
  .sub-nav-right {
    transition: all 1s ease-in;
  }
}
